<html>
<head>
<title>{% block title %}qi.io{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')}}" type="text/css" />
{% block header %}{% endblock %}
</head>
<body style="padding-top: 40px;">
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <h3><a href="/">qi.io</a></h3>
      <ul class="nav secondary-nav">
	<li class="dropdown">
	  {% if user != None %}
	  <a href="#" class="dropdown-toggle">{{ user['username'] }}</a>
	  {% endif %}
	  <ul class="dropdown-menu">
	    <li>
	      <a href="#">Settings</a>
	    </li>
	    <li>
	      <a href="/signout">Sign out</a>
	    </li>
	  </ul>
	</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="sidebar">
    {% block sidebar %}{% endblock %}
  </div>

  <div class="content">
    <div class="messages">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert-message block-message warning">
	<ul class="flashes unstyled">
	  {% for message in messages %}
	  <li data-alert="alert">{{ message }}</li>
	  {% endfor %}
	</ul>
      </div>
      {% endif %}
      {% endwith %}
    </div>
    {% block content %}{% endblock %}
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/g.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
