{% extends "base.html" %}
{% block title %}qi.io{% endblock %}


{% block sidebar %}
{% if g.user != None %}
<h6>diary</h6>
<div id="side-menu">
  <h4>menu</h4>
  <ul class="unstyled">
    <li><a href="#" onclick="return false;">Save Changes</a></li>
    <li><a href="/newentry">New Entry</a></li>
  </ul>
</div>

<!--
<div>
  <h4>todo</h4>
  <ul class="unstyled">
    <li><input type="checkbox"> Bring books to BGA</li>
    <li><input type="checkbox"> Punchfork work on Thursday</li>
  </ul>
</div>
//-->
<div>
  <h4>scratchpad</h4>
  <div id="scratchpad" contenteditable="true" class="editbox">{{ g.user.scratchpad().raw_body|safe }}</div>
</div>

<div>
  <h6>notifications</h6>
  <div id="notifications"></div>
  <div id="savecomplete" class="notice">save complete!</div>
</div>
{% endif %}
{% endblock %}


{% block content %}
{% if g.user != None %}
<div class="row">
<div class="span11">
<h3>today</h3>
<div id="{{ current_entry.id }}" class="editbox" contenteditable="true">{{ current_entry.raw_body|safe }}</div>
{% for tag in current_entry.tags %}
<span class="entrytag label" id="topic_{{ tag }}"><a href="/topic/{{ tag }}">{{ tag }}</a></span>
{% endfor %}
<hr>
{% for entry in g.user.entries() %}
{% if entry.id != current_entry.id %}
<span class="entrydate"><h3>{{ entry.created_at.strftime("%Y-%m-%d") }}</h3></span>
<div class="editbox" contenteditable="true" id="{{ entry.id }}">{{ entry.raw_body|safe }}</div>
{% for tag in entry.tags %}
<span class="entrytag label" id="topic_{{ tag }}"><a href="/topic/{{ tag }}">{{ tag }}</a></span>
{% endfor %}
<br>
{% endif %}
{% endfor %}
</div>
</div>
{% else %}
<h2>Currently in closed beta, please come back another time.</h1>
<h3>
  <a href="{{ url_for('signin') }}">Sign in</a> or <a href="{{ url_for('signup') }}">Sign up</a>
</h3>
{% endif %}
{% endblock %}

