{% extends "base.html" %}
{% block title %}qi.io{% endblock %}


{% block sidebar %}
{% if g.user != None %}
<h6>diary</h6>
<div id="side-menu">
  <h4>menu</h4>
  <ul class="unstyled">
    <li><a href="#" onclick="return false;">Save Changes</a></li>
    <li><a href="/newentry">New Entry</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user != None %}
<div class="row">
<div class="span11">
  {% for entry in g.user.entries() -%}
  <div id="entry_{{ entry.id }}">
    <span class="entrydate"><h3>{{ entry.created_at.strftime("%Y-%m-%d") }}</h3></span>
    <div class="displaybox" id="{{ entry.id }}">{{ entry.body|safe }}</div>
    <textarea class="editbox span11" id="{{ entry.id }}">{{ entry.raw_body }}</textarea>
    <div class="entrybar">
      <span id="tools_{{ current_entry.id }}" class="entrytools">
	<a href="#" onclick="beginEdit('{{ entry.id }}'); return false;" rel="nofollow">Edit Entry</a>
	<a href="#" onclick="deleteEntry('{{ entry.id }}'); return false;" rel="nofollow">Delete Entry</a>
      </span>
      <span id="tags_{{ entry.id }}" class="entrytags">
	{% for tag in entry.tags -%}
	<span class="entrytag label" id="topic_{{ tag }}">
	  <a href="/topic/{{ tag }}">{{ tag }}</a>
	</span>&nbsp;
	{%- endfor %}
      </span>
    </div>
  </div>
  <br>
  {%- endfor %}
  </div>
</div>
{% else %}
<h2>Currently in closed beta, please come back another time.</h1>
<h3>
  <a href="{{ url_for('sign_in') }}">Sign in</a> or <a href="{{ url_for('sign_up') }}">Sign up</a>
</h3>
{% endif %}
{% endblock %}

