{% extends "base.html" %}
{% block title %}qi.io{% endblock %}


{% block sidebar %}
{% if g.user != None %}
<h6>diary</h6>
<div id="side-menu">
  <h4>menu</h4>
  <ul class="unstyled">
    <li><a href="#" onclick="return false;">Save Changes</a></li>
    <li><a href="/newentry">New Entry</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user != None %}

<h3>
  <a href="{{ url_for('page') }}">All entries ({{ g.user.entry_count() }})</a>
  {% if topic %} > #{{ topic }} ({{ entries|length }}){% endif %}
  {% if searchterm %} > Search results for: <i>{{ searchterm }}</i> ({{ entries|length }}) {% endif %}
</h3>

<div class="row">
<div class="span11">
  {% for entry in entries -%}
  <div id="entry_{{ entry.id }}">
    <span class="entrydate"><h3>{{ entry.created_at.strftime("%Y-%m-%d") }}</h3></span>
    <div class="displaybox" id="{{ entry.id }}">{{ entry.body|safe }}</div>
    <textarea class="editbox span11" id="{{ entry.id }}">{{ entry.raw_body }}</textarea>
    <div class="entrybar">
      <span id="tools_{{ entry.id }}" class="entrytools">
	<a href="#" onclick="beginEdit('{{ entry.id }}'); return false;" rel="nofollow"><b>edit</b></a>&nbsp;
	<a href="#" onclick="deleteEntry('{{ entry.id }}'); return false;" rel="nofollow"><b>delete</b></a>
      </span>
      <span id="tags_{{ entry.id }}" class="entrytags">
	{% for tag in entry.tags -%}
	<span class="entrytag label" id="topic_{{ tag }}">
	  <a href="/topic/{{ tag }}">{{ tag }}</a>
	</span>&nbsp;
	{%- endfor %}
      </span>
    </div>
  </div>
  <p>&nbsp;</p>
  {%- endfor %}
  <h3>
  {% if numpages > 0 and not topic %}
  page:
  {% for pagenum in range(numpages) %}
  <a href="{{ url_for('page', pagenum=pagenum) }}">{{ pagenum + 1 }}</a>
  {% endfor %}
  {% endif %}
  </h3>
</div>

</div>
{% else %}
<h1>qi.io</h1>

<p>qi.io is an advanced note taking and note keeping application.  </p>

<p>It helps you keep track of the things you've done and the things you need to do.</p>

<h3>
  We are currently in closed beta.
</h3>
<h3> Have an account? <a href="{{ url_for('sign_in') }}">Sign in</a></h3>
<h3> Have an invitation? <a href="{{ url_for('sign_up') }}">Sign up</a></h3>
{% endif %}
{% endblock %}
