{% extends "base.html" %}
{% block title %}sign up{% endblock %}
{% block content %}
<h3>Sign up:</h3>
<form method="POST" class="form-stacked">
  <fieldset>
  {{ form.csrf }}
  {{ form.username.label }} {{ form.username(class="xlarge") }}
  {% if form.username.errors %}
  <ul class="errors">
    {% for error in form.username.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ form.password.label }} 
  {{ form.password(class="xlarge") }}
  {% if form.password.errors %}
  <ul class="errors">
    {% for error in form.password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ form.confirm.label }} {{ form.confirm(class="xlarge") }}
  {% if form.confirm.errors %}
  <ul class="errors">
    {% for error in form.confirm.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ form.invitation_code.label }} {{ form.invitation_code(class="xlarge") }}
  {% if form.invitation_code.errors %}
  <ul class="errors">
    {% for error in form.invitation_code.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <br />
  <input type="submit" value="Sign up" class="btn" />
  </fieldset>
</form>
{% endblock %}
